.fw-medium {
    font-weight: $font-weight-medium;
}

.text-secondary {
    color: $gray!important;
}

.text-muted {
    color: $gray-228!important;
}

.text-dark {
    color: $black-71!important;
}

.shadow-sm {
    box-shadow: $box-shadow!important;
}

.shadow {
    box-shadow: $box-shadow-sm!important;
}

.shadow-lg {
    box-shadow: $box-shadow-md!important;
}

.lh-sm {
    line-height: $line-height-sm;
}

.w-31 {
    width: 1.938rem;
}

.h-31 {
    height: 1.938rem;
}

textarea {
    resize: none;
}

.transform-skew {
    transform: skew(-30deg, 0deg);
}

@include media-breakpoint-down(md) {
    .fs-2 {
        font-size: .75rem!important;
    }
    .fs-3 {
        font-size: .813rem!important;
    }
    .fs-6 {
        font-size: .5rem!important;
    }
    .fs-8 {
        font-size: .625rem!important;
    }
    .fs-9 {
        font-size: .625rem!important;
    }
    .pt-6 {
        padding-top: 2rem!important;
    }
    .pb-6 {
        padding-bottom: 2rem!important;
    }
    .pb-7 {
        padding-bottom: 1rem!important;
    }
    .mb-8 {
        margin-bottom: 2.188rem!important;
    }
    .rounded-3 {
        border-radius: .25rem!important;
    }
}

@include media-breakpoint-between(md, xl) {
    .mb-8 {
        margin-bottom: 4rem!important;
    }
}
