.card {
    .card-body {
        padding: 0 2.5rem;
        .card-text {
            font-size: 1.25rem;
            @include media-breakpoint-down(lg) {
                font-size: .875rem;
            }
        }
        @include media-breakpoint-down(lg) {
            padding: 2.5rem 1.563rem;
        }
    }
}

.card.contact {
    .card-body {
        padding: 1.125rem 1.563rem;
        .card-form {
            background-color: $white;
            box-shadow: 0px 15.264px 22.896px rgba(102, 106, 245, 0.13);
            border-radius: $border-radius-sm;
            padding: 1.125rem 1.563rem;
            @include media-breakpoint-down(lg) {
                padding: 1rem;
                position: relative;
                top: -3.125rem;
            }
        }
        @include media-breakpoint-down(lg) {
            padding: 1rem;
            width: 100%;
        }
    }
}
